<script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">

<br /><br /><br />
<div class="wrap" style="margin-top:-60px;margin-left:auto;margin-right:auto;">	 
<h1 style="font-family: 'Exo 2', ''Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, 'AppleGothic'', sans-serif;'">- Escolha seu perfil -</h1>
	<ul>
		<a href="http://docscomprador.portalcompras.io">
			<li class="perfil" >
				<img src="/img/comprador.png"   style="width: 100px; height: 100px"/>​
				<h1 >OPME</h1>
			</li>		
		</a>
		<a href="http://docscompradormatmed.portalcompras.io">
			<li class="perfil" >
				<img src="/img/comprador.png"   style="width: 100px; height: 100px"/>​
				<h1 >MATMED</h1>
			</li>		
		</a>
		<a href="http://docsfornecedor.portalcompras.io">
			<li class="perfil" >
				<img src="/img/vendedor.png" style="width: 100px; height: 100px"/>​
				<h1 >Fornecedor</h1>
			</li>	
		</a>		
	</ul>
</div>
<br /><br /><br /><br /><br /><br />
